@import '../../../styles.scss';
@import '../../../colors.scss';
.result-container{
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    .video-container {
        @media screen and (max-width: $break-hd){
            padding: 0 2vw 0 2vw;
            width: 96vw;
            height: 54vw;
        }
        @media screen and (min-width: $break-hd){
            width: 64vw;
            height: 36vw;
        }
        .video {
            width: 100%;
            height: 100%;
        }
    }
    .title-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width: $break-hd){
            width: 100vw;
        }
        @media screen and (min-width: $break-hd){
            width: 30vw;
            height: 36vw;
        }
        .title{
            color: $darkBlue;
            padding-bottom: 1vh;
            border-bottom: 1px solid $darkGrey;
            width: 50%;
            font-weight: 700;
            margin-left: 2vw;
            @media screen and (max-width: $break-mobile){
                margin-top: 0.5vh;
                font-size: 0.6em;
            }
            @media screen and (max-width: $break-hd) and (min-width: $break-mobile){
                margin-top: 1vh;
                font-size: 0.8em;
            }
            @media screen and (min-width: $break-hd){
                margin-top: 5vh;
                font-size: 1.5em;
            }
        }
        .value{
            margin-top: 1vh;
            margin-left: 3vw;
            font-size: 2em;
            font-weight: 600;
            width: 100%;
            color: $darkGrey;
            @media screen and (max-width: $break-hd){
                font-size: 1.3em;
                line-height: 2.5vh;
            }
            @media screen and (min-width: $break-hd){
                font-size: 1.6em;
            }
        }
        .tags-container{
            @extend .value;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .tag {
                color: $lighGrey;
                background-color: $darkBlue;
                font-size: 1em;
                font-weight: 500;
                letter-spacing: 1px;
                box-shadow: 0 1px 5px $darkGrey;
                border-radius: 2px;
                padding: 10px;
                overflow: hidden;
                border-width: 0;
                outline:none;
                width: fit-content;
                margin: 1vh;
            }
        }
        .description{
            @extend .value;
            font-weight: 500;
            @media screen and (max-width: $break-hd){
                font-size: 1.25em;
            }
            @media screen and (min-width: $break-hd){
                font-size: 1.5em;
            }
        }
    }
    .description-container{
        @extend .title-container;
        width: 100vw;
        height: auto;
    }
}