<div class="filter-container">
  <div class="dropdown">
      <select [(ngModel)]="filtersMap.order" class="input-custom" required>
          <option [value]="''"></option>
          <option [value]="'date'">date</option>
          <option [value]="'rating'">rating</option>
          <option [value]="'relevance'">relevance</option>
          <option [value]="'title'">title</option>
          <option [value]="'viewCount'">view count</option>
      </select>
      <span class="bar highlight-bar"></span>
      <label class = "search-label">order</label>
  </div>
  <div class="dropdown">
      <select [(ngModel)]="filtersMap.videoDefinition" class="input-custom" required>
          <option [value]="''"></option>
          <option [value]="'any'">any</option>
          <option [value]="'standard'">standard</option>
          <option [value]="'high'">high</option>
      </select>
      <span class="bar highlight-bar"></span>
      <label class = "search-label">video definition</label>
  </div>
  <div class="dropdown">
      <select [(ngModel)]="filtersMap.videoDimension" class="input-custom" required>
          <option [value]="''"></option>
          <option [value]="'any'">any</option>
          <option [value]="'2d'">2 D</option>
          <option [value]="'3d'">3 D</option>
      </select>
      <span class="bar highlight-bar"></span>
      <label class = "search-label">video dimension</label>
  </div>
  <div class="dropdown">
      <select [(ngModel)]="filtersMap.videoType" class="input-custom" required>
          <option [value]=""></option>
          <option [value]="'any'">any</option>
          <option [value]="'episode'">episode</option>
          <option [value]="'movie'">movie</option>
      </select>
      <span class="bar highlight-bar"></span>
      <label class = "search-label">video type</label>
  </div>
  <div class="dropdown">
      <select [(ngModel)]="filtersMap.videoDuration" class="input-custom" required>
          <option [value]="''"></option>
          <option [value]="'any'">any</option>
          <option [value]="'long'">long</option>
          <option [value]="'medium'">medium</option>
          <option [value]="'short'">short</option>
      </select>
      <span class="bar highlight-bar"></span>
      <label class = "search-label">video duration</label>
  </div>
  <div class="dropdown">
      <input type="date" [(ngModel)]="filtersMap.publishedAfter" >
      <span class="bar highlight-bar"></span>
      <label class = "search-label">published after</label>
  </div>
  <div class="dropdown">
      <input type="date" [(ngModel)]="filtersMap.publishedBefore" >
      <span class="bar highlight-bar"></span>
      <label class = "search-label">published before</label>
  </div>
</div>