.filter-container{
    margin: 10vh 5% 0 5%;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px #888888;
    padding-bottom: 5vh;
    .dropdown{
        width: 10vw;
        min-width: 300px;
        position: relative;
        // @media screen and (max-width: $break-tablet){
            margin-top: 5vh;
        // }
    }
}