<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
  <div class="form-group">
    <input type="text" formControlName="login" name = "login" ngModel required>
    <!-- <span class="highlight"></span> -->
    <span class="bar"></span>
    <label>login</label>
    <!-- <app-ytw-input [name] = "inputName" (value) = "getValue($event)"></app-ytw-input> -->
    <div [hidden] = "loginForm.controls['login'].valid || loginForm.controls['login'].pristine">Invalid</div>
  </div>
  <button [disabled]="!loginForm.valid">Submit</button>
</form>
