@import '../../styles.scss';
.auth-form{
    height: 20vh;
    width: 40vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: $break-mobile){
        width: 100vw;
    }
    @media screen and (max-width: $break-tablet) and (min-width: $break-mobile){
        width: 90vw;
    }
    .form-group{
        position: relative;
        @media screen and (max-width: $break-tablet){
            width: 90%;
        }
        @media screen and (max-width: $break-hd) and (min-width: $break-tablet){
            width: 80%;
        }
        @media screen and (min-width: $break-hd){
            width: 50%;
        }
    }
    .error{
        color: red;
        font-size: 1em;
    }
}