<form class="auth-form" [formGroup]="passwordForm" (ngSubmit)="submitForm(passwordForm.value)">
  <div class="form-group">
    <input type="text" formControlName="password" name = "password" ngModel required>
    <span class="bar"></span>
    <label>password</label>
    <!-- <div class = "error" [hidden] = "passwordForm.controls['password'].valid || passwordForm.controls['password'].pristine">Invalid</div> -->
  </div>
  <div class = "error" [hidden] = "passwordForm.controls['password'].valid || passwordForm.controls['password'].pristine">Invalid</div>
  <button class = "custom-btn" [disabled]="!passwordForm.valid">Submit</button>
</form>