@import '../../../styles.scss';
.search-container{
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    .search-holder{
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .search-input-holder {
            position: relative;
            width: 80%;
            @media screen and (min-width: $break-tablet){
                .search-input {

                    font-size: 3em;
                    font-weight: 500;
                    &:focus{
                        ~ label {
                            top:-1.5em;
                            font-size:1.5em;
                            color:#5264AE;
                        }
                    }
                }
                .search-label{
                    font-size: 3em;
                    top:0.5em;
                }
                .highlight-bar {
                    &:before{
                        height: 4px;
                        }
                        &:after{
                        height: 4px;
                        }
                }
            }
        }
        .buttons-wrapper{
            width: 15vw;
            display: flex;
            min-width: 200px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            @media screen and (max-width: $break-hd){
                margin-top: 5vh;
            }
            .search-buttons {
                width: 5vw;
                height: 5vw;
                display: flex;
                min-width: 70px;
                min-height: 70px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                .icon-search{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    z-index: 2;
                    cursor: pointer;
                    fill: white;
                    transition:0.2s ease all; 
                    -moz-transition:0.2s ease all; 
                    -webkit-transition:0.2s ease all;
                    &:hover{
                        fill:yellow;
                    }
                }
                .icon-filter{
                    @extend .icon-search;
                }
            }
        }
    }
    .autocomplete-holder{
        position: relative;
        width: 100vw;
        .autocomplete {
            position: absolute;
            top: 0;
            left: 7vh;
            width: 50vw;
            background-color: white;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            z-index: 2;
            box-shadow: 0 5px 10px #888888;
            .autocomplete-result {
                width: 100%;
                text-align: center;
                font-size: 1.5em;
                padding: 1.5vh 0 1.5vh 0;
                &:hover{
                    cursor: pointer;
                    background-color: aquamarine;
                }
            }
        }
    }
    .filter-holder{
        @media screen and (max-width: $break-hd){
            margin-top: 8vh;
        }
    }
    .videos-holder{
        width: 100vw;
    }
}
.autocomplete-layer {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100vw;
    height: 93vh;
    z-index: 1;
}