@import '../../../styles.scss';
.search-container{
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    .search-holder{
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .search-input-holder {
            position: relative;
            width: 80%;
            @media screen and (min-width: $break-tablet){
                .search-input {

                    font-size: 3em;
                    font-weight: 500;
                    &:focus{
                        ~ label {
                            top:-1.5em;
                            font-size:1.5em;
                            color:#5264AE;
                        }
                    }
                }
                .search-label{
                    font-size: 3em;
                    top:0.5em;
                }
                .highlight-bar {
                    &:before{
                        height: 4px;
                        }
                        &:after{
                        height: 4px;
                        }
                }
            }
        }
        .buttons-wrapper{
            width: 15vw;
            display: flex;
            min-width: 200px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            @media screen and (max-width: $break-hd){
                margin-top: 5vh;
            }
            .search-buttons {
                width: 5vw;
                height: 5vw;
                display: flex;
                min-width: 70px;
                min-height: 70px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                .icon-search{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    z-index: 2;
                    cursor: pointer;
                    fill: white;
                    transition:0.2s ease all; 
                    -moz-transition:0.2s ease all; 
                    -webkit-transition:0.2s ease all;
                    &:hover{
                        fill:yellow;
                    }
                }
                .icon-filter{
                    @extend .icon-search;
                }
            }
        }
    }
    .autocomplete-holder{
        position: relative;
        width: 100vw;
        .autocomplete {
            position: absolute;
            top: 0;
            left: 7vh;
            width: 50vw;
            background-color: white;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            z-index: 2;
            box-shadow: 0 5px 10px #888888;
            .autocomplete-result {
                width: 100%;
                text-align: center;
                font-size: 1.5em;
                padding: 1.5vh 0 1.5vh 0;
                &:hover{
                    cursor: pointer;
                    background-color: aquamarine;
                }
            }
        }
    }
    .filter-container{
        margin-top: 10vh;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 10px #888888;
        padding-bottom: 5vh;
        overflow-y: scroll;
        .dropdown{
            width: 10vw;
            min-width: 300px;
            position: relative;
            // @media screen and (max-width: $break-tablet){
                margin-top: 5vh;
            // }
        }
    }
    #videos-list{
        margin-top: 10vh;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        .video-element {
            width: 100%;
            @media screen and (max-width: $break-mobile){
                height: 90px
            }
            @media screen and (max-width: $break-hd) and (min-width: $break-mobile){
                height: 180px
            }
            @media screen and (min-width: $break-hd){
                height: 360px
            }
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
            box-shadow: 0 0 10px #888888;
            padding: 2vh 0 2vh 0;
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 10px magenta;
            }
            transition: 200ms ease all; 
            .info-field{
                width: 50%;
                height: 100%;
                display: flex;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                font-weight: 700;
                .title{
                    color: magenta;
                    padding-bottom: 1vh;
                    border-bottom: 1px solid black;
                    width: 50%;
                    @media screen and (max-width: $break-mobile){
                        margin-top: 0.5vh;
                        font-size: 0.6em;
                    }
                    @media screen and (max-width: $break-hd) and (min-width: $break-mobile){
                        margin-top: 1vh;
                        font-size: 0.8em;
                    }
                    @media screen and (min-width: $break-hd){
                        margin-top: 5vh;
                        font-size: 1.2em;
                    }
                }
                .value{
                    margin-top: 1vh;
                    margin-left: 1vw;
                    font-size: 2em;
                    font-weight: 600;
                    width: 100%;
                    color: #888888;
                    @media screen and (max-width: $break-mobile){
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: 1em;
                    }
                    @media screen and (max-width: $break-hd) and (min-width: $break-mobile){
                        font-size: 1.3em;
                    }
                    @media screen and (min-width: $break-hd){
                        font-size: 1.6em;
                    }
                }
                .description{
                    @extend .value;
                    font-weight: 500;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @media screen and (max-width: $break-mobile){
                        font-size: 1em;
                    }
                    @media screen and (max-width: $break-hd) and (min-width: $break-mobile){
                        font-size: 1.25em;
                    }
                    @media screen and (min-width: $break-hd){
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
.autocomplete-layer {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100vw;
    height: 93vh;
    z-index: 1;
}