@import '../../colors.scss';
.topBar{
    position: fixed;
    background-color: $darkBlue;
    width: 100%;
    height: 7vh;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px $darkGrey;
    min-height: 60px;
    .name{
        font-size: 3vh;
        color: $lighGrey;
        font-weight: 700;
        letter-spacing: 3px;
        margin-left: 7vh;
    }
    .input-holder{
        width: 60vw;
        padding-left: 7vh;
        color: $lighGrey;
        border-color: $lighGrey;
        ::-webkit-input-placeholder {
        color: $lighGrey;
        }
        ::-moz-placeholder {
        color: $lighGrey;
        }
        :-ms-input-placeholder {
        color: $lighGrey;
        }
        :-moz-placeholder {
        color: $lighGrey;
        }
    }
    .icons-holder{
        width: 14vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        .icon-search{
            height: 7vh;
            width: 7vh;
            min-height: 60px;
            min-width: 60px;
            background-color: $red;
            z-index: 2;
            fill: $lighGrey;
            &:hover{
                fill:$darkGrey;
            }
            cursor: pointer;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
        }
        .icon-close{
            @extend .icon-search;
            background-color: $lightBlue;
        }
    }
    .autocomplete-layer {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100vw;
        height: 93vh;
        z-index: 1;
        .autocomplete {
            position: relative;
            top: 0;
            left: 7vh;
            width: 50vw;
            background-color: $lighGrey;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            z-index: 3;
            box-shadow: 0 5px 10px $darkGrey;
            .autocomplete-result {
                width: 100%;
                text-align: center;
                padding: 1vh 0 1vh 0;
                color: $darkGrey;
                &:hover{
                    cursor: pointer;
                    background-color: $lightBlue;
                }
            }
        }
    }
}